.board {
    min-width: 5em;
    min-height: 5em;
    position: relative;
}

.board__svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.board__cell--select {
    filter: url(#selectFilter);
}

.board__cell--move {
    filter: url(#moveFilter);
}

.board__cell--attack {
    filter: url(#attackFilter);
}

.board__contentItem {
    position: relative;
    box-sizing: border-box;

    pointer-events: none;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;

    transition-timing-function: ease-in-out;
    transition-duration: 0.75s;
    transition-property: top, left, width, height, padding, font-size;
}



.board--checkCells {
    width: 100%;
    height: 100%;
}