/* these variable values should be user-configurable */
.board {
    --board-light-color: #eeeed2;
    --board-mid-color: #b2c294;
    --board-dark-color: #769656;

    --piece-light-color: #fff;
    --piece-mid-color: #666;
    --piece-dark-color: #000;
}
