.board {
    min-width: 30em;
    min-height: 30em;
    position: relative;
}

.board__svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.board--markCells {
    background:
        linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, #999 78%),
        linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
        #666;
    background-size: 16px 48px;
}

.board--markCells .board__svg {
    margin: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
}

.board--markCells .board__svg [id] {
    animation-duration: 0.5s;
    animation-name: indicateIsCell;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.board--markCells .board__svg [id],
.board--unmarkCells .board__svg [id] {
    stroke: red !important;
    stroke-width: 0.25em !important;
    /* outline: dashed red 3px; */
}

.board--markCells .board__svg [id],
.board--unmarkCells .board__svg :not([id]) {
    pointer-events: none;
    opacity: 0.2;
}

.board--markCells .board__svg :not([id]):hover,
.board--unmarkCells .board__svg [id]:hover {
    animation-duration: 1s;
    animation-name: focusCell;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
    z-index: 0;
    stroke-width: 1.75em;
    opacity: 0.8;
    cursor: pointer;
}

@keyframes focusCell {
    from {
        /*
        fill: #ffcc00;
        */
        stroke: #00ccff;
    }

    to {
        /*
        fill: #00ccff;
        */
        stroke: #ffcc00;
    }
}

@keyframes indicateIsCell {
    from {
        opacity: 0.6;
    }   
    to {
        opacity: 1;
    }
}


.board__cell--select {
    fill: #66aaff;
}

.board__cell--move {
    fill: #ffcc66;
}

.board__cell--attack {
    fill: #ff6666;
}